<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>Welcome to {{ title }}!</h1>
</div>
<ul>
  <li>
    <!-- <h2><a href="/angular_a">angular_a</a></h2> -->
    <h2><a [routerLink]="['angular_a']">angular_a - routerlink</a></h2>
  </li>
  <li>
    <!-- <h2><a href="/angular_b">angular_b</a></h2> -->
    <h2><a [routerLink]="['angular_b']">angular_b - routerlink</a></h2>
  </li>
  <hr />
  <li>
    <!-- <h2><a href="/angularjs_a">angularjs_a</a></h2> -->
    <h2><a [routerLink]="['angularjs_a']">angularjs_a - routerlink</a></h2>
  </li>
  <li>
    <!-- <h2><a href="/angularjs_b">Aangularjs_b</a></h2> -->
    <h2><a [routerLink]="['angularjs_b']">angularjs_b - routerlink</a></h2>
  </li>
  <li>
    <!-- <h2><a href="/angularjs_b">Aangularjs_b</a></h2> -->
    <h2><a [routerLink]="['angularjs_bsss']">not existing page</a></h2>
  </li>
</ul>

<router-outlet></router-outlet>
<div ui-view></div>
